.recommended-flex{
    display: flex;
    margin-left: 21rem;
}
.recommended-title{
    margin-left: 21rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

.btns{
    padding: 10px 20px;
    margin-right: 6px;
    background-color: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color: #323232;
    cursor: pointer;
}

.btns:hover{
    border: 0.6px solid  rgba(243, 194, 97, 0.882);
}
